@import './../../mixin.scss';


.search {
    @include dFlex(flex, none, none);
    gap: 10px;
    margin-left: 25px;
    margin-top: 10px;
    position: absolute;

    >input {
        border-radius: 20px;
        padding: 5px;
    }
}

