@for (ability of abilities; track $index) {
<div>
    <p>{{ ability.effect_entries[1].effect }}</p>
</div>
<div *ngFor="let speciesOfPokemon of species" [ngClass]="'bg-' + pokemon.types[0].type.name" class="card-container">
    <div class="card-information">
        <span> Height </span>
        <h4>{{(pokemon.height / 10).toFixed(1).replace(".", ",") }} m</h4>
        <span>Weight</span>
        <h4>{{ (pokemon.weight / 10).toFixed(1).replace(".", ",") }} kg</h4>
        <span class="font-color"></span>
    </div>
    <div class="card-information">
        <span>Genera</span>
        <h4> {{speciesOfPokemon.genera[7].genus}} </h4>
        <span>Area</span>
        <h4> {{speciesOfPokemon.habitat.name | titlecase}} </h4>
    </div>
</div>
}