@import './../../../shared/mixin.scss';


.card-container {
    @include dFlex(flex, flex-start, null);
    border-radius: 10px;
    padding: 10px;
    gap: 110px;
    background-color: #7fbdff;
}


.card-information {
    @include dFlex(flex, space-between, null);
    flex-direction: column;
}


.card-information {
    >span {
        color: #ffff;
    }
    >p {
        font-size: 18px;
        font-weight: 400;
    }
}

