@for (ability of abilities; track $index) {
<div>
    <p>{{ ability.effect_entries[1].effect }}</p>
</div>
<div *ngFor="let speciesOfPokemon of species" class="card-container">
    <div class="card-information">
        <span> Height </span>
        <p>{{(pokemon.height / 10).toFixed(1).replace(".", ",") }} m</p>
        <span>Weight</span>
        <p>{{ (pokemon.weight / 10).toFixed(1).replace(".", ",") }} kg</p>
        <span class="font-color"></span>
    </div>
    <div class="card-information">
        <span>Genera</span>
        <p> {{speciesOfPokemon.genera[7].genus}} </p>
        <span>Area</span>
        <p> {{speciesOfPokemon.habitat.name | titlecase}} </p>
    </div>
</div>
}