body {
    margin: 0;
    font-family: 'Roboto Flex' !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
}

.main-header {
    position: relative;
}

.playgame {
    height: 30px;
    animation: 1s fadeIn ease-in-out;
}

.search {
    height: 30px;
    cursor: pointer;
}

.playgame:hover {
    cursor: pointer;
}


.header-white {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    width: 100%;
    height: 106px;
    background-color: rgb(255, 255, 255);   
}

.header-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11px;
    background-color: rgb(0, 0, 0);   
}

.header-red {
    box-shadow: 0px -4px 7px 9px rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 106px;
    background-color: rgb(227, 53, 13);   
}

.pokeball {
    position: absolute;
    top: 40px;
    height: 150px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -1%);
    transition: transform .2;
}

.pokeball:hover {
    cursor: pointer; 
}

.pokedex {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.pokedex img {
    height: 220px;
    padding: 20px;
}

.card-img-top {
    background-color: rgb(242, 242, 242)
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-card {
    border-radius: 10px;
    padding: 15px;
    transition: transform .2s;
}

.pokemon-card:hover {
    transform: matrix(1, 0, 0, 1, 0, -10);
}

.pokemon-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 250px;
    height: 250px;
    cursor: pointer;
}

.pokemon-card-img img {
    height: 180px;
    width:  180px;
}

.pokemon-id {
    color: rgb(145, 145, 145);
    font-family: 'Roboto Flex';
    font-weight: 700;
    padding: 5px;
}

.pokemon-card-type {
    width: 80px;
    border-radius: 10px;
}

.pokemon-card-type p {
    text-align: center;
}

/* Pokemon Color Type  */

.normal {
    background-color: rgb(164, 172, 175);
}

/* LOADING MORE Pokemon */

.load-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.loading-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 204, 1);
    background-color: rgb(55, 92, 169);
    width: 200px;
    height: 80px;
    border-radius: 10px;
    transition: transform .3s;
}

.loading-pokemon:hover {
    box-shadow: 1px 1px 15px 0px rgb(255, 204, 1);
    transform: scale(1.1);
}

.pokemon-ball-footer {
    height: 60px;
}

.d-none {
    display: none;
}

.back {
    visibility: hidden;
}

/* POKEMONKARTE RÜCKSEITE */


.pokemon-container {
    perspective: 1000px;
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin: 10px;  
}


.pokemon-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.pokemon-card-front {
    transform: rotateY(0deg);
}

.pokemon-card-back {
    transform: rotateY(180deg);
}

.pokemon-card-front, .pokemon-card-back {
    width: 100%;
    height: 100%;
    position: fixed;
    backface-visibility: hidden;
  }

.stats-container {
    border-radius: 10px;
    display: flex;
}

.back-img {
    height: 100px;
    width: 100px;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.search-bar {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: none;
}

