body {
    margin: 0;
    font-family: 'Roboto Flex' !important;
    font-style: normal !important;
    font-weight: 700 !important;
}

.main-header {
    position: relative;
}

.playgame {
    height: 30px;
    animation: 1s fadeIn ease-in-out;
}

.search {
    height: 30px;
    cursor: pointer;
}

.playgame:hover {
    cursor: pointer;
}


.header-white {
    display: flex;
    justify-content: space-around ;
    align-items: center;
    width: 100%;
    height: 106px;
    background-color: rgb(255, 255, 255);   
}

.header-black {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 11px;
    background-color: rgb(0, 0, 0);   
}

.header-red {
    box-shadow: 0px -4px 7px 9px rgb(0 0 0 / 30%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 106px;
    background-color: rgb(227, 53, 13);   
}

.pokeball {
    position: absolute;
    top: 40px;
    height: 150px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -1%);
}

.pokeball:hover {
    cursor: pointer;
}

.pokedex {
    display: flex;
    justify-content: center;
}

.pokedex img {
    height: 220px;
    padding: 20px;
}

.card-img-top {
    background-color: rgb(242, 242, 242)
}

#pokedex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.pokemon-card {
    padding: 15px;
    transition: transform .2s;
}

.pokemon-card:hover {
    transform: matrix(1, 0, 0, 1, 0, -10);
}

.pokemon-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    cursor: pointer;
}

.pokemon-card-img img {
    height: 180px;
    width:  180px;
}

.pokemon-id {
    color: rgb(145, 145, 145);
    font-family: 'Roboto Flex';
    font-weight: 700;
    padding: 5px;
}

.pokemon-card-type {
    width: 80px;
    border-radius: 10px;
}

.pokemon-card-type p {
    text-align: center;
}

/* Pokemon Color Type  */

.normal {
    background-color: rgb(164, 172, 175);
}

/* LOADING MORE Pokemon */

.load-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px;
}

.loading-pokemon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 204, 1);
    background-color: rgb(55, 92, 169);
    width: 200px;
    height: 80px;
    border-radius: 10px;
    transition: transform .3s;
}

.loading-pokemon:hover {
    box-shadow: 1px 1px 15px 0px rgb(255, 204, 1);
    transform: scale(1.1);
}

.pokemon-ball-footer {
    height: 60px;
}

.d-none {
    display: none;
}

/* POKEMONKARTE */



/* .flip {
    perspective: 1000px;
    width: 200px;
    height: 200px;
}

.flip {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s, z-index 0.5s;
}

.front, .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(0deg) scale(1);
    z-index: 1;
}

.back {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg) scale(1.2);
    z-index: 2;
} */