body {
    margin: 0;
    font-family: 'Roboto Flex';
    font-style: normal;
    font-weight: 700;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: rgb(227, 53, 13);   
}

.header img {
    height: 150px;
}

.header img:hover {
    cursor: pointer;
}

.card-img-top {
    background-color: rgb(242, 242, 242)
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
}

.pokemon-card {
    padding: 15px;
    transition: transform .2s;
}

.pokemon-card:hover {
    transform: matrix(1, 0, 0, 1, 0, -10);
}

.pokemon-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border-radius: 10px;
    width: 220px;
    height: 220px;
    cursor: pointer;
}

.pokemon-card-img img {
    height: 180px;
    width:  180px;
}

.pokemon-id {
    color: rgb(145, 145, 145);
    font-family: 'Roboto Flex';
    font-weight: 700;
    padding: 5px;
}

.pokemon-card-type {
    width: 80px;
    border-radius: 10px;
}

.pokemon-card-type p {
    text-align: center;
}

/* Pokemon Color Type  */

.normal {
    background-color: rgb(164, 172, 175);
}

/* Überschrift */

