@import './../../mixin.scss';


.main-container {
    @include dFlex(flex, none, none);
    flex-direction: column;
    gap: 10px;
}


.type-container {
    @include dFlex(flex, none, none);
    flex-direction: column;
    gap: 10px;
}


.info {
    @include dFlex(flex, none, none);
    flex-direction: column;
    >p {
        font-size: 18px;
    }
}


.info-container { 
    @include dFlex(flex, start, center);
    flex-wrap: wrap;
    gap: 10px;
    >span {
        width: 80px;
        height: 25px;
        border-radius: 5px;
        text-align: center;
    }
} 