<div class="main-contianer">
    <div class="header-text">
        <p>Evolution</p>
    </div>
    <div class="evolution-container">
        @for (first of evoOne; track $index) {
        <div class="evolution">
            <div class="pokemon-image">
                <img [src]="first.sprites.other.dream_world.front_default" alt="pokemon image">
            </div>
            <div class="pokemon-name">
                <p>{{first.name | titlecase}}</p>
                <span> Nr. {{ first.id.toString().padStart(4, '0') }}</span>
            </div>
            <div class="pokemon-type">
                
            </div>
        </div>
        }

        <div class="arrow">
            <img src="/assets/img/arrow.png" alt="arrow">
        </div>

        @for (second of evoTwo; track $index) {
        <div class="evolution">
            <div class="pokemon-image">
                <img [src]="second.sprites.other.dream_world.front_default" alt="pokemon image">
            </div>
            <div class="pokemon-name">
                <p>{{second.name | titlecase}}</p>
                <span> Nr. {{ second.id.toString().padStart(4, '0') }}</span>
            </div>
            <div class="pokemon-type">
                
            </div>
        </div>
        }

        <div class="arrow">
            <img src="/assets/img/arrow.png" alt="arrow">
        </div>

        @for (last of evoThree; track $index) {
        <div class="evolution">
            <div class="pokemon-image">
                <img [src]="last.sprites.other.dream_world.front_default" alt="pokemon image">
            </div>
            <div class="pokemon-name">
                <p>{{last.name | titlecase}}</p>
                <span> Nr. {{ last.id.toString().padStart(4, '0') }}</span>
            </div>
            <div class="pokemon-type">
                
            </div>
        </div>
        }
    </div>
</div>